@import 'settings';
@import 'vanilla-framework/scss/base_placeholders';
@import 'vanilla-framework/scss/base_code';
@import 'vanilla-framework/scss/base_button';
@import 'vanilla-framework/scss/patterns_icons';

.p-code-example {
  @include vf-b-code;
  @include vf-b-button;

  &__pre {
    max-height: $code-example-max-height;
    padding-right: $copy-btn-size + $copy-btn-margin;
    position: relative;
    white-space: pre-wrap;
  }

  &__copy-btn {
    @include vf-icon-copy(vf-url-friendly-color($color-mid-dark));
    background: {
      position: center;
      repeat: no-repeat;
    }
    height: $copy-btn-size;
    position: absolute;
    right: $copy-btn-margin;
    top: $copy-btn-margin;
    width: $copy-btn-size;
  }
}
